# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private

# Ignore TMP files
tmp/*

# Ignore useless files
.svn
.DS_Store
._*

# Ignore IDE flies
.idea
.project
.settings
.buildpath

# Ignore project specific files
application-mobile/
drush
facebook/
finistere-affaires/
google*.html
integration/
marque-blanche/
monfinistere/
newsletters/
newweb.finisteretourisme.com/
ressources-blog-appli/
signatures-mail/
smswall/
stats/

