#conteneur_left.decouvrez  .last{ margin-bottom:20px;}

#conteneur_left.decouvrez .box_decouvrez:hover{ background-color:#ededed; cursor:default;}

#conteneur_left.decouvrez .box_decouvrez.ubox:hover{ background-color:#FFF;}

#conteneur_left.decouvrez .box_decouvrez:hover > img{ border-color:#FFF;}

#conteneur_left.decouvrez .box_decouvrez:hover > a img{ border-color:#FFF;}

#conteneur_left.decouvrez .box_decouvrez h2{ font:1.25em 'NeoSansRegular', Arial, Helvetica, sans-serif; text-transform:uppercase; border:0; margin-bottom:5px; padding:0;}

#conteneur_left.decouvrez .box_decouvrez img{ margin:16px 0 16px 11px; border:4px solid #e0e0e0; max-width: 276px;}

#conteneur_left.decouvrez .box_decouvrez img, #conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez{ float:left;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez{ width:360px; padding:27px 20px 18px; font:0.75em/16px Arial, Helvetica, sans-serif; }

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez ul{ margin:20px 0 0; width:169px; float:left;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez .ul_2col{ padding-left:20px;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez ul li{ background:url(../images/sprite.png) no-repeat 0 -260px; padding-left:14px;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez ul li a{ font:0.9em Arial, Helvetica, sans-serif; color:#4a4a4a; text-decoration:none; display:block; margin-bottom:3px;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez ul li a:hover{ text-decoration:underline;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez ul li:hover{ background-position:0 -2052px;}

#conteneur_left.decouvrez .box_decouvrez .contenu_decouvrez h2{ margin-top:0; font-size:1.5em;}

#conteneur_left.decouvrez #meteo{ float:left; width:191px; }

#conteneur_left.decouvrez #meteo img{ border:0; margin:0 0 0 15px;}

#conteneur_left.decouvrez #content_meteo{ float:left; font-weight:normal; font-family:'NeoSansRegular',Arial,Helvetica,sans-serif; margin:24px 0 0 10px;}

#conteneur_left.decouvrez #content_meteo span{ display:block;}

#conteneur_left.decouvrez #temperature{ font-size:3.2em; }

#conteneur_left.decouvrezt #min_max{ font-size:1.3em; margin-top:8px;}

#conteneur_left.decouvrez img{ max-width:215px; margin: 16px 0 16px 7px;}

#conteneur_left.decouvrez .ubox .ubox_item{ margin:0;}

#conteneur_left.decouvrez .ubox .ubox_items { padding: 9px 0 5px; font-family:Arial, Helvetica, sans-serif; bottom:16px; width:227px;}

#conteneur_left.decouvrez .ubox .ubox_items .ubox_item_content{ bottom: 21px; left: 10px;}