.bons_plans #tri_offres{ margin-bottom:15px;}

.bons_plans #tri_offres a{ font-weight:bold; text-transform:uppercase; background:url(../images/sprite.png?1302230115) no-repeat -2px -4045px; padding-left:20px; display:block; text-decoration:none; font-size:0.70em; line-height:22px; height:22px;}

.bons_plans #tri_offres div a{ text-decoration:none;}

.bons_plans #tri_offres select{ padding:2px 2px 2px 7px; border:1px solid #9ea4a8; width:153px; margin-left:5px;}

.bons_plans .uboxbp{ width:226px; float:left; margin:0 6px 20px 0;}

.bons_plans .all{ width:auto; border: 1px solid #E0E0E0; padding:10px 20px; position:relative;}

.bons_plans .all .uboxpb_items{  border:0; }

.bons_plans sup{ font-size:0.6em; vertical-align:text-top;}

.bons_plans .all .uboxpb_items img{ border: 4px solid #E0E0E0;}

.bons_plans #conteneur_left .uboxbp h2{ border:0; margin-bottom:5px; padding:0; font-size:1.13em; }

.bons_plans #conteneur_left .all h2{ font-size:1.56em;}

.bons_plans .uboxpb_items{ position:relative; border: 4px solid #E0E0E0; padding-bottom:20px; }

.bons_plans .uboxpb_items h3{ font:0.75em 'Impact', Arial, Helvetica, sans-serif; color:#FFF; text-transform:uppercase; -moz-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -o-transform:rotate(-45deg); position:absolute; top:28px; left:1px;}

.bons_plans .uboxpb_items .promo{ font-size:1.5em; top:25px;}

.bons_plans .uboxpb_items .ruban{ background: url(../images/sprite.png?1302230115) no-repeat 0 -1041px; width:101px; height:102px; position:absolute; z-index:1; left:-7px; top:-7px;}

.bons_plans .all .uboxpb_items .ruban{ top:-3px; left:-3px;}

.bons_plans .uboxpb_items .c_prix{ position:absolute; top:158px; right:20px;}

.bons_plans .uboxpb_items .border{ display:block; float:left; height:72px;}

.bons_plans .uboxpb_items .left_b{ width:5px; background:url(../images/sprite.png?1302230115) no-repeat 0 -2104px;}

.bons_plans .uboxpb_items .right_b{ width:6px; background:url(../images/sprite.png?1302230115) no-repeat -6px -2104px;}

.bons_plans .uboxpb_items .prix{ font:bold 2.38em Arial, Helvetica, sans-serif; color:#FFF; background:url(../images/sprite_repeat.png) 0 -1025px; text-align:center; height:72px; float:left;}

.bons_plans .all .uboxpb_items .c_prix{ right:auto; left:192px; top:176px;}

.bons_plans .all .uboxpb_items .prix{ height:87px; background-position:0 -1111px; font-size:2.88em;}

.bons_plans .all .uboxpb_items .border{ height:87px;}

.bons_plans .all .uboxpb_items .left_b{ background-position:0 -2197px;}

.bons_plans .all .uboxpb_items .right_b{ background-position:-6px -2197px;}

.bons_plans .all .uboxpb_items .lien_img, .all .uboxbp_content{ float:left;}

.bons_plans .all .uboxbp_content{ width:300px; margin-left:18px; border-bottom:1px dashed #000; padding-bottom:17px;}

.bons_plans .all .uboxbp_content .chapo{ font-weight:bold;}

.bons_plans .all .uboxbp_content table{ margin-left:6px;}

.bons_plans .all .uboxbp_content td{ font-weight:bold; font-size:0.75em; padding:0 40px 5px 0;}

.bons_plans .all .uboxbp_content ul{ margin-left:6px;}

.bons_plans .all .uboxbp_content ul li{  font-weight:normal; font-size:0.75em; margin-bottom:5px;}

.bons_plans .uboxbp_content .comments{ background:none; background-color:#C6E0F8; margin-left:6px;}

.bons_plans .all .uboxbp_content  .margin{ margin-top:30px;}

.bons_plans .all .uboxbp_content ul li a{ background:none; color:#4a4a4a; display:inline; font-size:1em; font-weight:normal;}

.bons_plans #bouton{ background:url(../images/sprite.png?1302230115) no-repeat 0 -2319px; color:#FFF; display:block; width:177px; height:38px; text-transform:uppercase; line-height:38px; margin-top:30px; text-align:center;}

.bons_plans #bouton:hover{ background-position:-1px -2361px; text-decoration:none;}

.bons_plans .all .uboxpb_items h4{ margin-top:0;}

.bons_plans .uboxpb_items .prix span{ font-size:0.3em; display:block; font-weight:normal;}

.bons_plans .uboxpb_items h4, .reseaux h4{ font:bold 0.88em Arial, Helvetica, sans-serif; text-transform:uppercase; margin:20px 5px 7px;}

.bons_plans .uboxpb_items .uboxpb_items_content{ font-size:0.69em; padding:5px; line-height:16px;}

.bons_plans .uboxpb_items .rest_offer{ font-size:0.75em; text-transform:uppercase; font-weight:bold; background:url(../images/sprite.png?1302230115) no-repeat 0 -1767px; padding-left:12px; margin:0 0 15px 5px;}

.bons_plans .uboxpb_items .lower{ text-transform:none; font-size:0.74em;}

.bons_plans .uboxpb_items a{ font-size:0.75em; font-weight:bold; text-decoration:none; display:block; background:url(../images/sprite.png?1302230115) no-repeat 0 -2052px; padding-left:10px; margin:5px;}

.bons_plans .uboxpb_items a:hover{ text-decoration:underline;}

.bons_plans .uboxpb_items .lien_img{ background:none; padding:0; margin:0;}

.bons_plans #pub{ margin-bottom:30px; text-decoration:none;}

.bons_plan#conteneur_left .uboxbp h1{ text-transform:none; border:0;}

.bons_plans .g-tabs{ width:331px; float:left; padding-bottom:10px;}

.bons_plans .g-tabs li{ float:left; margin:5px 5px 0 0;}

.bons_plans .g-tabs li a{ display:block; border:1px solid #969696; background:none; padding:0; margin:0;}

.bons_plans .uboxpb_items_left{ float:left; width:325px;}

.bons_plans .all .g-tabs li a img{ border:0;}

.bons_plans .g-tabs li:last-child{ margin-right:0;}

.bons_plans .reseaux{ float:left; margin-left:22px;}

.bons_plans .reseaux h4{ margin:10px 0 5px;}

.bons_plans .reseaux ul li{ float:left; margin-right:10px;}

.bons_plans .min{ float:left; margin:0 6px 6px 0;}

.bons_plans .min .uboxpb_items{ padding:0;}

.min .uboxpb_items .c_prix{ right: 7px; top: 34px;}

.bons_plans#conteneur_left #titre_h2{ font:1.56em 'NeoSansRegular', Arial, Helvetica, sans-serif; border-color:#c8c8c8;}

.bons_plans#conteneur_left .lien_bp{ text-transform:none; color:#4A4A4A; background-position:511px -713px; width:99%;}