#offer-list { clear:left; }

#conteneur_left .prix span + span + span + span{ position:absolute; color:#dddddd; font-size:0.75em; height:auto; bottom:12px; left:13px;}

#conteneur_left .prix{right: 329px; position: absolute; top: 118px; font-size:1em; background:none;}

#conteneur_left .prix span{ display:block; float:left;  height:87px;}

#conteneur_left .prix .left_b{ background: url(../images/prix_bg_color_03.png) no-repeat; width:6px;}

#conteneur_left .prix .right_b{ background: url(../images/prix_bg_color_05.png) no-repeat; width:6px;}

#conteneur_left .prix .middle_b{ background: url(../images/prix_bg_color_04.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:75px;}

#conteneur_left .prix_min span + span + span + span{ position:absolute; color:#dddddd; font-size:0.75em; height:auto; bottom:12px; left:9px;}

#conteneur_left .prix_min{right: 329px; position: absolute; top: 118px; font-size:0.7em; background:none;}

#conteneur_left .prix_min span{ display:block; float:left;  height:62px;}

#conteneur_left .prix_min .left_b{ background: url(../images/prix_bg_color_03_min.png) no-repeat; width:4px;}

#conteneur_left .prix_min .right_b{ background: url(../images/prix_bg_color_05_min.png) no-repeat; width:6px;}

#conteneur_left .prix_min .middle_b{ background: url(../images/prix_bg_color_04_min.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:45px;}

.title_we{font: 0.88em 'NeoSansRegular', Arial, Helvetica, sans-serif; margin-bottom: 10px; }

#conteneur_left .info_we{ font:0.88em 'NeoSansRegular', Arial, Helvetica, sans-serif; text-transform:uppercase;  background:url(../images/sprite.png?1302230115) no-repeat 0 0; padding-left:23px; height:20px; line-height:16px;  }

#conteneur_left .uboxpb_items .g-tabs{ margin-left:0;}

#conteneur_left .uboxbp_content img{ border:0;}

#conteneur_left .uboxpb_items ul{ font-size:0.75em; margin-left:10px;}

#conteneur_left .uboxpb_items ul li{ margin-bottom:5px;}

.page-node.node-type-bon-plan #bouton.long{ width:288px; height:39px; background-position:0 -4281px;}

.page-node.node-type-bon-plan #bouton.long:hover{ background-position:0 -4326px;}

#conteneur_left .ubox_we{ position:relative; width:215px; padding:7px; float:left; margin-right:5px;}

#conteneur_left .ubox_we + .ubox_we + .ubox_we{ margin-right:0}


#conteneur_left .ubox_we .prix_min{ top:55px; right:15px;}

#conteneur_left .ubox_we h3{ color:#FFF !important; margin-top:10px;}

#conteneur_left .ubox_we p{ font-size:0.69em; margin:10px 0; color:white; line-height:16px;}

/*light_blue #5bd0da*/

#conteneur_left .light_blue .prix .left_b{ background: url(../images/prix_bg_color_03.png) no-repeat;}

#conteneur_left .light_blue .prix .right_b{ background: url(../images/prix_bg_color_05.png) no-repeat;}

#conteneur_left .light_blue .prix .middle_b{ background: url(../images/prix_bg_color_04.png) repeat-x;}

#conteneur_left .light_blue .prix_min .left_b{ background: url(../images/prix_bg_color_03_min.png) no-repeat;}

#conteneur_left .light_blue .prix_min .right_b{ background: url(../images/prix_bg_color_05_min.png) no-repeat;}

#conteneur_left .light_blue .prix_min .middle_b{ background: url(../images/prix_bg_color_04_min.png) repeat-x;}

#conteneur_left .light_blue h1, #conteneur_left .light_blue h2, #conteneur_left .light_blue h3, #conteneur_left .light_blue .title_we, #conteneur_left .light_blue .info_we{ color:#5bd0da;}

#conteneur_left .light_blue.info_we{ background-position:0 -4594px;}

#conteneur_left .light_blue.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.light_blue .views-row{ background-color:#5bd0da;}

/*orange #e2b24a*/

#conteneur_left .orange .prix .left_b{ background: url(../images/prix_bg_color_07.png) no-repeat;}

#conteneur_left .orange .prix .right_b{ background: url(../images/prix_bg_color_09.png) no-repeat;}

#conteneur_left .orange .prix .middle_b{ background: url(../images/prix_bg_color_08.png) repeat-x;}

#conteneur_left .orange .prix_min .left_b{ background: url(../images/prix_bg_color_07_min.png) no-repeat;}

#conteneur_left .orange .prix_min .right_b{ background: url(../images/prix_bg_color_09_min.png) no-repeat;}

#conteneur_left .orange .prix_min .middle_b{ background: url(../images/prix_bg_color_08_min.png) repeat-x;}

#conteneur_left .orange h1, #conteneur_left .orange h2, #conteneur_left .orange h3, #conteneur_left .orange .title_we, #conteneur_left .orange .info_we{ color:#e2b24a;}

#conteneur_left .orange.info_we{ background-position:0 -4618px;}

#conteneur_left .orange.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.orange .views-row{ background-color:#e2b24a;}

/*pink #e25c9b*/

#conteneur_left .pink .prix .left_b{ background: url(../images/prix_bg_color_13.png) no-repeat;}

#conteneur_left .pink .prix .right_b{ background: url(../images/prix_bg_color_15.png) no-repeat;}

#conteneur_left .pink .prix .middle_b{ background: url(../images/prix_bg_color_14.png) repeat-x;}

#conteneur_left .pink .prix_min .left_b{ background: url(../images/prix_bg_color_13_min.png) no-repeat;}

#conteneur_left .pink .prix_min .right_b{ background: url(../images/prix_bg_color_15_min.png) no-repeat;}

#conteneur_left .pink .prix_min .middle_b{ background: url(../images/prix_bg_color_14_min.png) repeat-x;}

#conteneur_left .pink h1, #conteneur_left .pink h2, #conteneur_left .pink h3, #conteneur_left .pink .title_we, #conteneur_left .pink .info_we{ color:#e25c9b;}

#conteneur_left .pink.info_we{ background-position:0 -4643px;}

#conteneur_left .pink.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.pink .views-row{ background-color:#e25c9b;}

/*blue #75b6ff*/

#conteneur_left .blue .prix .left_b{ background: url(../images/prix_bg_color_16.png) no-repeat;}

#conteneur_left .blue .prix .right_b{ background: url(../images/prix_bg_color_18.png) no-repeat;}

#conteneur_left .blue .prix .middle_b{ background: url(../images/prix_bg_color_17.png) repeat-x;}

#conteneur_left .blue .prix_min .left_b{ background: url(../images/prix_bg_color_16_min.png) no-repeat;}

#conteneur_left .blue .prix_min .right_b{ background: url(../images/prix_bg_color_18_min.png) no-repeat;}

#conteneur_left .blue .prix_min .middle_b{ background: url(../images/prix_bg_color_17_min.png) repeat-x;}

#conteneur_left .blue h1, #conteneur_left .blue h2, #conteneur_left .blue h3, #conteneur_left .blue .title_we, #conteneur_left .blue .info_we{ color:#75b6ff;}

#conteneur_left .blue.info_we{ background-position:0 -4667px;}

#conteneur_left .blue.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.blue .views-row{ background-color:#75b6ff;}

/*green #a2ba1a*/

#conteneur_left .green .prix .left_b{ background: url(../images/prix_bg_color_21.png) no-repeat;}

#conteneur_left .green .prix .right_b{ background: url(../images/prix_bg_color_23.png) no-repeat;}

#conteneur_left .green .prix .middle_b{ background: url(../images/prix_bg_color_22.png) repeat-x;}

#conteneur_left .green .prix_min .left_b{ background: url(../images/prix_bg_color_21_min.png) no-repeat;}

#conteneur_left .green .prix_min .right_b{ background: url(../images/prix_bg_color_23_min.png) no-repeat;}

#conteneur_left .green .prix_min .middle_b{ background: url(../images/prix_bg_color_22_min.png) repeat-x;}

#conteneur_left .green h1, #conteneur_left .green h2, #conteneur_left .green h3, #conteneur_left .green .title_we, #conteneur_left .green .info_we{ color:#a2ba1a;}

#conteneur_left .green.info_we{ background-position:0 -4693px;}

#conteneur_left .green.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.green .views-row{ background-color:#a2ba1a;}

/*brown #a28b70*/

#conteneur_left .brown .prix .left_b{ background: url(../images/prix_bg_color_29.png) no-repeat;}

#conteneur_left .brown .prix .right_b{ background: url(../images/prix_bg_color_31.png) no-repeat;}

#conteneur_left .brown .prix .middle_b{ background: url(../images/prix_bg_color_30.png) repeat-x;}

#conteneur_left .brown .prix_min .left_b{ background: url(../images/prix_bg_color_29_min.png) no-repeat;}

#conteneur_left .brown .prix_min .right_b{ background: url(../images/prix_bg_color_31_min.png) no-repeat;}

#conteneur_left .brown .prix_min .middle_b{ background: url(../images/prix_bg_color_30_min.png) repeat-x;}

#conteneur_left .brown h1, #conteneur_left .brown h2, #conteneur_left .brown h3, #conteneur_left .brown .title_we, #conteneur_left .brown .info_we{ color:#a28b70;}

#conteneur_left .brown.info_we{ background-position:0 -4721px;}

#conteneur_left .brown.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.brown .views-row{ background-color:#a28b70;}

/*purple #9580b9*/

#conteneur_left .purple .prix .left_b{ background: url(../images/prix_bg_color_32.png) no-repeat;}

#conteneur_left .purple .prix .right_b{ background: url(../images/prix_bg_color_34.png) no-repeat;}

#conteneur_left .purple .prix .middle_b{ background: url(../images/prix_bg_color_33.png) repeat-x;}

#conteneur_left .purple .prix_min .left_b{ background: url(../images/prix_bg_color_32_min.png) no-repeat;}

#conteneur_left .purple .prix_min .right_b{ background: url(../images/prix_bg_color_34_min.png) no-repeat;}

#conteneur_left .purple .prix_min .middle_b{ background: url(../images/prix_bg_color_33_min.png) repeat-x;}

#conteneur_left .purple h1, #conteneur_left .purple h2, #conteneur_left .purple h3, #conteneur_left .purple .title_we, #conteneur_left .purple .info_we{ color:#9580b9;}

#conteneur_left .purple.info_we{ background-position:0 -4746px;}

#conteneur_left .purple.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.purple .views-row{ background-color:#9580b9;}

/*marine #274058*/

#conteneur_left .marine .prix .left_b{ background: url(../images/prix_bg_color_37.png) no-repeat;}

#conteneur_left .marine .prix .right_b{ background: url(../images/prix_bg_color_39.png) no-repeat;}

#conteneur_left .marine .prix .middle_b{ background: url(../images/prix_bg_color_38.png) repeat-x;}

#conteneur_left .marine .prix_min .left_b{ background: url(../images/prix_bg_color_37_min.png) no-repeat;}

#conteneur_left .marine .prix_min .right_b{ background: url(../images/prix_bg_color_39_min.png) no-repeat;}

#conteneur_left .marine .prix_min .middle_b{ background: url(../images/prix_bg_color_38_min.png) repeat-x;}

#conteneur_left .marine h1, #conteneur_left .marine h2, #conteneur_left .marine h3, #conteneur_left .marine .title_we, #conteneur_left .marine .info_we{ color:#274058;}

#conteneur_left .marine.info_we{ background-position:0 -4770px;}

#conteneur_left .marine.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.marine .views-row{ background-color:#274058;}

/*red #b92724*/

#conteneur_left .red .prix .left_b{ background: url(../images/prix_bg_color_24.png) no-repeat;}

#conteneur_left .red .prix .right_b{ background: url(../images/prix_bg_color_26.png) no-repeat;}

#conteneur_left .red .prix .middle_b{ background: url(../images/prix_bg_color_25.png) repeat-x;}

#conteneur_left .red .prix_min .left_b{ background: url(../images/prix_bg_color_24_min.png) no-repeat;}

#conteneur_left .red .prix_min .right_b{ background: url(../images/prix_bg_color_26_min.png) no-repeat;}

#conteneur_left .red .prix_min .middle_b{ background: url(../images/prix_bg_color_25_min.png) repeat-x;}

#conteneur_left .red h1, #conteneur_left .red h2, #conteneur_left .red h3, #conteneur_left .red .title_we, #conteneur_left .red .info_we{ color:#b92724;}

#conteneur_left .red.info_we{ background-position:0 -4793px;}

#conteneur_left .red.ubox_we, .node-type-flux-b2917 #conteneur_left .view-id-reservez_sejwe_by_theme_onsejwe.red .views-row{ background-color:#b92724;}