#wrap_left, #wrap_right{ float:left;}

#wrap_left{ width:354px;}

#wrap_left .lien_title{ position:relative; float:none; right:auto; top:auto;}

.box_resa.light_blue{ background-color:#5bd0da;}

.box_resa.pink{ background-color:#e25c9b;}

.box_resa.green{ background-color:#a2ba1a;}

.box_resa.brown{ background-color:#a28b70;}

.box_resa.orange{ background-color:#e2b24a;}

.box_resa.blue{ background-color:#75b6ff;}

.box_resa.red{ background-color:#b92724;}

.box_resa.purple{ background-color:#9580b9;}

.box_resa.marine{ background-color:#274058;}

.box_resa.marine p{ color:#CCC;}

.box_resa{ width:147px; padding:5px; float:left; margin:12px 15px 0 0; min-height:195px;}

#wrap_left h2{ font-size:1.25em;}

#conteneur_left .box_resa h2{  text-align:center;  border:0;  text-transform:uppercase; font-size:1.25em;}

#conteneur_left  .box_resa h2 a{ color:#FFF; font-size:0.8em; text-transform:uppercase; margin-top:10px;}

#conteneur_left  .box_resa img{ margin:0;}

.box_agenda h3 a{ font-size:1em; color:#4A4A4A;}

.box_agenda strong{ margin-top:5px; display:block;}

.box_resa h3{ text-align:center; font:0.81em 'NeoSansRegular', Arial, Helvetica, sans-serif; text-transform:uppercase;}

.box_resa h3 a{ text-decoration:none; color:#FFF; }

.box_resa p{ font-size:0.69em; text-transform:uppercase; text-align:center; margin:10px 0;}

.more{ background:url(../images/sprite.png?1302230115) no-repeat 0 -711px; padding-left:15px; font-size:0.88em;}

.more:hover{ text-decoration:none;}

#wrap_right{ width:338px; margin-left:6px;}

#wrap_right h2{ font-size:1.25em;}

.box_resa_details{ padding-left:10px; position:relative;}

.box_resa_details h3{ font-size:0.81em; text-transform:uppercase; font-weight:bold; margin-top:10px;}

.box_resa_details h3 a{ text-transform: none; display:block; margin-bottom:10px;}

.box_resa_details img{border: 4px solid #E0E0E0;}

.box_resa_details strong{ display:block; margin:10px 0;}

.box_resa_details strong, .box_resa_details p{ font-size:0.75em; line-height:16px;}

.box_resa_details .lien{ background:url(../images/sprite.png?1302230115) no-repeat -5px -3811px; width:141px; height:29px; display:block; font-size:0.75em; color:#FFF; text-decoration:none; line-height:29px; text-align:center; text-transform:uppercase; margin:15px 0;}

.box_resa_details .lien:hover{ background-position:-5px -3848px;}

.box_resa_details .prix{ position:absolute; top:165px; right:8px;}

.box_resa_details .prix span:first-child{ font-size:0.88em; color:#FFF; position:absolute; top:10px; left:10px;}

.box_resa_details .prix span{ display:block; float:left;  height:87px;}

.resa_tabs li{ float:left; width:169px;}

.resa_tabs li a{ width:160px; display:block; float:left; height:39px; border:1px solid white; font:1.25em 'NeoSansRegular', Arial, Helvetica, sans-serif; line-height:39px; padding-left:10px; color:#777777; text-decoration:none; background:#d9d9d9 url(../images/sprite.png?1302230115) no-repeat right -4514px; border-right:0; border-left:0; -moz-box-shadow:inset -6px -3px 8px #999; -webkit-box-shadow:inset -6px -3px 8px #999; box-shadow:inset -6px -3px 8px #999;

}

.resa_tabs li + li a{-moz-box-shadow:inset 6px -3px 8px #999; -webkit-box-shadow:inset 6px -3px 8px #999; box-shadow:inset 6px -3px 8px #999;}

.resa_tabs li .current, .resa_tabs li a:hover{ background-color:#ededed; color:#000; background-position:right -4454px; -moz-box-shadow: none; -webkit-box-shadow:none; box-shadow:none;}


.box_right .ubox_item img{ border-width:7px;}

.box_right .ubox_item{ margin:0;}

.box_right .ubox_item .ubox_item_content{ bottom:30px;}

.box_right .ubox_item h3 a{ font:1.56em 'NeoSansRegular', Arial, Helvetica, sans-serif; color:#FFF;}

.box_right .lien_title{ position:relative; float:none; top:2px; color:#FFF; background-position:0 -4469px;}

/*black #000000*/

.box_right.black .ubox_item img{ border-color:black;}

.box_right.black .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_black.png);}

/*marine #274058*/

.box_right.marine .ubox_item img{ border-color:#274058;}

.box_right.marine .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_sejour.png);}

.box_resa_details.marine .prix .left_b{ background:url(../images/prix_bg_color_37.png) no-repeat; width:6px;}

.box_resa_details.marine .prix .right_b{ background:url(../images/prix_bg_color_39.png) no-repeat; width:6px;}

.box_resa_details.marine .prix .middle_b{ background:url(../images/prix_bg_color_38.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.marine h3 a{ color:#274058;}

/*light_blue #5bd0da*/

.box_right.light_blue .ubox_item img{border-color:#5bd0da;}

.box_right.light_blue .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_light_blue.png);}

.box_resa_details.light_blue .prix .left_b{ background:url(../images/prix_bg_color_03.png) no-repeat; width:6px;}

.box_resa_details.light_blue .prix .right_b{ background:url(../images/prix_bg_color_05.png) no-repeat; width:6px;}

.box_resa_details.light_blue .prix .middle_b{ background:url(../images/prix_bg_color_04.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.light_blue h3 a{ color:#5bd0da;}

/*orange #e2b24a*/

.box_right.orange .ubox_item img{border-color:#e2b24a;}

.box_right.orange .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_orange.png);}

.box_resa_details.orange .prix .left_b{ background:url(../images/prix_bg_color_07.png) no-repeat; width:6px;}

.box_resa_details.orange .prix .right_b{ background:url(../images/prix_bg_color_09.png) no-repeat; width:6px;}

.box_resa_details.orange .prix .middle_b{ background:url(../images/prix_bg_color_08.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.orange h3 a{ color:#e2b24a;}

/*pink #e25c9b*/

.box_right.pink .ubox_item img{border-color:#e25c9b;}

.box_right.pink .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_pink.png);}

.box_resa_details.pink .prix .left_b{ background:url(../images/prix_bg_color_13.png) no-repeat; width:6px;}

.box_resa_details.pink .prix .right_b{ background:url(../images/prix_bg_color_15.png) no-repeat; width:6px;}

.box_resa_details.pink .prix .middle_b{ background:url(../images/prix_bg_color_14.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.pink h3 a{ color:#e25c9b;}

/*blue #75b6ff*/

.box_right.blue .ubox_item img{border-color:#75b6ff;}

.box_right.blue .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_blue.png);}

.box_resa_details.blue .prix .left_b{ background:url(../images/prix_bg_color_16.png) no-repeat; width:6px;}

.box_resa_details.blue .prix .right_b{ background:url(../images/prix_bg_color_18.png) no-repeat; width:6px;}

.box_resa_details.blue .prix .middle_b{ background:url(../images/prix_bg_color_17.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.blue h3 a{ color:#75b6ff;}

/*green #a2ba1a*/

.box_right.green .ubox_item img{border-color:#a2ba1a;}

.box_right.green .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_green.png);}

.box_resa_details.green .prix .left_b{ background:url(../images/prix_bg_color_21.png) no-repeat; width:6px;}

.box_resa_details.green .prix .right_b{ background:url(../images/prix_bg_color_23.png) no-repeat; width:6px;}

.box_resa_details.green .prix .middle_b{ background:url(../images/prix_bg_color_22.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.green h3 a{ color:#a2ba1a;}

/*brown #a28b70*/

.box_right.brown .ubox_item img{border-color:#a28b70; }

.box_right.brown .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_brown.png);}

.box_resa_details.brown .prix .left_b{ background:url(../images/prix_bg_color_29.png) no-repeat; width:6px;}

.box_resa_details.brown .prix .right_b{ background:url(../images/prix_bg_color_31.png) no-repeat; width:6px;}

.box_resa_details.brown .prix .middle_b{ background:url(../images/prix_bg_color_30.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.brown h3 a{ color:#a28b70;}

/*purple #9580b9*/

.box_right.purple .ubox_item img{border-color:#9580b9;}

.box_right.purple .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_purple.png);}

.box_resa_details.purple .prix .left_b{ background:url(../images/prix_bg_color_32.png) no-repeat; width:6px;}

.box_resa_details.purple .prix .right_b{ background:url(../images/prix_bg_color_34.png) no-repeat; width:6px;}

.box_resa_details.purple .prix .middle_b{ background:url(../images/prix_bg_color_33.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.purple h3 a{ color:#9580b9;}


/*red #b92724*/

.box_right.red .ubox_item img{border-color:#b92724;}

.box_right.red .ubox_item .ubox_item_content{  background:url(../images/bg_items_content_red.png);}

.box_resa_details.red .prix .left_b{ background:url(../images/prix_bg_color_24.png) no-repeat; width:6px;}

.box_resa_details.red .prix .right_b{ background:url(../images/prix_bg_color_26.png) no-repeat; width:6px;}

.box_resa_details.red .prix .middle_b{ background:url(../images/prix_bg_color_25.png) repeat-x; font-size:2.81em; color:#FFF; font-weight:bold; line-height:105px;}

.box_resa_details.red h3 a{ color:#b92724;}

/*Ajout pour box du bas fiche week end et sejours*/

.node-type-flux-b2917 #conteneur_left .views-row{  float: left;
    margin-right: 5px;
    padding: 7px;
    position: relative;
    width: 213px;
	min-height:355px;
	}
	
.node-type-flux-b2917 #conteneur_left .view-header h3{ font-size: 1.3em;
    padding-bottom: 10px;}
	
.node-type-flux-b2917 #conteneur_left .views-row .prix_min{ right: 13px;
    top: 55px;}
	
.node-type-flux-b2917 #conteneur_left .views-row .contenu_decouvrez h2 a{ color:white; font-size:0.65em;}

.node-type-flux-b2917 #conteneur_left .views-row .contenu_decouvrez h2{ border:0;}

.node-type-flux-b2917 #conteneur_left .views-row .contenu_decouvrez strong{ font-weight:normal; font-size:0.69em; color:white; line-height:16px;}

