.chapo_pro{ width:690px; margin:0 auto;}

.chapo_pro a{ border:4px solid #dfe1de; display:block;}

.chapo_pro p{ font-size:0.75em; padding-left:10px; line-height:1.5em; margin:10px 0;}

.chapo_pro p strong{ font-size:1.1em;}

.download{ text-decoration:none; font-size:0.68em; font-weight:bold; margin-top:10px; display:block; background:url(../images/sprite.png?1302230115) no-repeat -286px -1786px; padding-left:10px;}

.download img{ float:none; border:0; vertical-align:middle; margin:0;}

.download:hover{ color:#000;}

