.box_agenda strong{ font-size:0.75em; margin-top:5px; display:block;}

.content_box_agenda .rsv_btn{ background:url(../images/sprite.png) no-repeat -5px -3811px; width:141px; height:29px; line-height:29px; text-align:center; color:#FFF; display:block; font-size:0.91em; font-weight:bold; text-transform:uppercase; text-decoration:none;}

.rsv_btn:hover{ background-position:-5px -3848px;}

.content_box_agenda a img{ border:0; margin:0;}

.wrap_btn a{ float:left; margin-right:5px;}

.wrap_btn{ float:right;}

.carnet_de_voyage #conteneur_left .none{ background:url(../images/sprite.png) no-repeat 0 -3962px; padding-left:35px;}