.ubox_item_content div {font-size: inherit;}

.bloc_1_3 { width:224px;}

.bloc_1_2 { width:349px;}

.bloc_2_3 { width:454px;}

.bloc_1_3 img { max-width:207px;}

.bloc_1_2 img { max-width:339px;}

.ubox{float: left;position:relative;}

.ubox:hover .edit{display: block;position: absolute; right: 0;top: 0;z-index: 1000;}

.ubox_item h3 {font-size: 1.25em;font-weight: bold;text-transform: uppercase;}
.ubox_item h3 a {font-size: 1em;}
.ubox_item .ubox_item_content {font-size: 0.63em;}
.ubox_item_content a { font-size: 1em; }

.front .ubox-area-box > .ubox{background-color: #EDEDED;margin: 10px 5px;padding: 5px 0;}

/** UBOX CONTENEUR LEFT **/

#conteneur_left .ubox h2{ font:1.25em 'NeoSansRegular', Arial, Helvetica, sans-serif; text-decoration:none;color:#DD309E;padding: 5px 7px 0;}

.front #conteneur_left .ubox h2{ font-size: 1.5em;}


#conteneur_left .ubox h2 a{ font-size:1em;}

#conteneur_left .ubox .ubox_footer_label{font:bold 0.88em Arial, Helvetica, sans-serif; text-transform:uppercase; color:#000; display:block; text-align:right; background:url(../images/sprite.png) no-repeat 0 -712px; margin:5px 0;padding: 0 20px;float:right;clear:both;}

#conteneur_left .box_all{width: 688px;}

#conteneur_left .box_all.ubox_items_3 .ubox_item{width: 204px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_3 .ubox_item img{max-width: 211px;}
#conteneur_left .box_all.ubox_items_2 .ubox_item{width: 339px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_2 .ubox_item img{max-width: 331px;}
#conteneur_left .box_all.ubox_items_1 .ubox_item{overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_1 .ubox_item img{max-width: 680px;}

#conteneur_left .bloc_1_2.ubox_items_1 .ubox_item{width: 340px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_1 .ubox_item img{max-width: 332px;}
#conteneur_left .bloc_1_2.ubox_items_2 .ubox_item{width: 164px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_2 .ubox_item img{max-width: 156px;}
#conteneur_left .bloc_1_2.ubox_items_2 .ubox_item .ubox_item_content{width: 116px;}

#conteneur_left .bloc_2_3.ubox_items_1 .ubox_item{width: 454px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_1 .ubox_item img{ max-width:446px;}
#conteneur_left .bloc_2_3.ubox_items_2 .ubox_item{width: 217px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_2 .ubox_item img{ max-width:208px;}
#conteneur_left .bloc_2_3.ubox_items_3 .ubox_item{width: 141px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_3 .ubox_item img{ max-width:133px;}
#conteneur_left .bloc_2_3.ubox_items_3 .ubox_item .ubox_item_content{width: 104px;}

/* SLIDESHOW */
#conteneur_left .ubox .scrollable{height: 279px;margin:0;}

#conteneur_left .bloc_1_3 .scrollable{width: 157px;}
#conteneur_left .bloc_1_3.ubox_items_1 .scrollable .ubox_item{width: 152px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_3.ubox_items_1 .scrollable .ubox_item img{width: 144px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_3.ubox_items_1 .scrollable .ubox_item .ubox_item_content{width: 124px;}

#conteneur_left .bloc_2_3 .scrollable{width: 392px;}
#conteneur_left .bloc_2_3.ubox_items_1 .scrollable .ubox_item{width: 382px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_1 .scrollable .ubox_item img{ max-width:392px;}
#conteneur_left .bloc_2_3.ubox_items_2 .scrollable .ubox_item{width: 186px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_2 .scrollable .ubox_item img{ max-width:178px;}
#conteneur_left .bloc_2_3.ubox_items_2 .scrollable .ubox_item .ubox_item_content{width: 136px;}
#conteneur_left .bloc_2_3.ubox_items_3 .scrollable .ubox_item{width: 120px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_2_3.ubox_items_3 .scrollable .ubox_item img{ max-width:112px;}
#conteneur_left .bloc_2_3.ubox_items_3 .scrollable .ubox_item .ubox_item_content{width: 85px;}

#conteneur_left .bloc_1_2 .scrollable{width: 287px;}
#conteneur_left .bloc_1_2.ubox_items_1 .scrollable .ubox_item{width: 277px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_1 .scrollable .ubox_item img{width: 269px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_2 .scrollable .ubox_item{width: 136px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_2 .scrollable .ubox_item img{width: 127px;overflow: hidden;min-height: 200px;}
#conteneur_left .bloc_1_2.ubox_items_2 .scrollable .ubox_item .ubox_item_content{width: 107px;}

#conteneur_left .box_all .scrollable{width: 626px;}
#conteneur_left .box_all.ubox_items_1 .scrollable .ubox_item{width: 616px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_1 .scrollable .ubox_item img{width: 608px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_2 .scrollable .ubox_item{width: 303px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_2 .scrollable .ubox_item img{width: 295px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_3 .scrollable .ubox_item{ min-height: 200px;overflow: hidden;width: 201px;}
#conteneur_left .box_all.ubox_items_3 .scrollable .ubox_item img{width: 196px;overflow: hidden;min-height: 200px;}
#conteneur_left .box_all.ubox_items_3 .scrollable .ubox_item .ubox_item_content{width: 140px;}

/** UBOX CONTENEUR RIGHT **/
/* UBOX */
#conteneur_right .ubox{background-color:#ededed; margin:0 0 25px;}
#conteneur_right .ubox h2{border-bottom:1px solid #dcdcdc; padding:5px 10px; text-decoration:none; display:block; color:#000;}

/* RUBAN */
.ubox-area-box > .ubox.box_ruban{margin:0;padding:0;}
.box_ruban .ubox_item{margin: 0;width: inherit;}
.box_ruban .ubox_item img{border: 0;}

#conteneur_right .box_ruban .scrollable{margin: 0;}

#conteneur_right .box_ruban .browse{text-indent: -9999px;}

.box_ruban .ubox_item .ubox_item_content {left: 0;}

#conteneur_right .box_ruban h2 {padding: 0;border: 0;}

/* AUTRES */
.ubox_box_slideshow .conteneur_box h3, .ubox_box_slideshow .ubox .text, .ubox_box_slideshow .conteneur_box a{ color:#303030;}

.ubox_box_slideshow .ubox .conteneur_box{ background-position:0 -373px;}

.ubox_box_slideshow .ubox img{ border-color:#e0e0e0;}
.ubox_box_slideshow .ubox .ubox_item:hover img{border-color: #DD309E;}

.ubox_box_slideshow h2{ text-transform:none; border:0; margin-bottom:5px; border-bottom:1px dashed #c8c8c8; padding-bottom:5px;}