#conteneur #conteneur_left .col_1{ width:auto; margin-top:10px;}

#conteneur #conteneur_left .col_2{ width:360px; margin-top:10px; padding:10px 10px 0 10px;}

#conteneur #conteneur_left .node-type-hqitem h1{ padding-left:0; letter-spacing:-1px;}

#conteneur #conteneur_left .node-type-hqitem h1 a{ display:block; float:right; background:url(../images/sprite.png?1306022245) no-repeat 0 -1848px; width:30px; height:32px; text-indent:-9999px; overflow:hidden;}


#lys{ background:url(../images/sprite.png?1306022245) no-repeat 0 -1908px; width:52px; height:44px; position:absolute; top:-7px; right:-7px;}

#conteneur_left .node-type-hqitem .img_ss_categories{ max-width:668px; margin:10px 0 0;}

.node-type-hqitem .conteneur_img_ss_categories .content_img_ss_categories{ bottom:20px; top:auto;}

.node-type-hqitem .conteneur_img_ss_categories .content_img_ss_categories h3{ width:141px;}

.node-type-hqitem .content_right { float:right; width: 270px; }

#conteneur_left .node-type-hqitem .box_categories{ border:1px solid #e3e3e3; padding:15px 10px 20px;}

#conteneur_left .node-type-hqitem .box_categories h2, #conteneur_left .node-type-hqitem .box_categories h1{ text-transform:uppercase; border:0; margin-bottom:5px; border-bottom:1px dashed #c8c8c8; }

#conteneur_left .node-type-hqitem .box_categories img{ border:4px solid #e0e0e0;}

#conteneur_left .node-type-hqitem .box_categories .font12bold, #conteneur_left .node-type-hqitem .box_categories .lien{font-size:0.75em; font-weight:bold;}

#conteneur_left .node-type-hqitem .box_categories, #conteneur_left .node-type-hqitem .box_categories .lien{ font-family: Arial, Helvetica, sans-serif; line-height:16px; color:#4a4a4a;}

#conteneur_left .node-type-hqitem .box_categories .lien{ text-decoration:none;}

#conteneur_left .node-type-hqitem .box_categories .lien:hover{ text-decoration:underline;}

#conteneur_left .node-type-hqitem .box_categories .lien img{ border:0; float:none; margin-right:7px;}

#conteneur_left .node-type-hqitem .content_box_categories, #conteneur_left .node-type-hqitem .content_right { margin:20px 0; font-size:0.69em;}

#conteneur_left .node-type-hqitem .box_categories .content_box_categories{ width:360px; padding:20px 10px 10px; float:left;}

#conteneur_left .node-type-hqitem .box_categories .img_ss_categories{ margin:20px 0 0 10px; max-width:272px;}

#conteneur_left .node-type-hqitem { border:1px solid #E3E3E3; color:#4A4A4A; font-family:Arial,Helvetica,sans-serif; line-height:16px; padding:15px 10px 20px; text-decoration:none; }
#conteneur_left .node-type-hqitem.node-teaser { padding:0; border:none;}

.page_type .browse{ color:#c8c8c8;}


#slide_ss_categories .conteneur_box h3, #slide_ss_categories .ubox .text, #slide_ss_categories .conteneur_box a{ color:#303030;}

#slide_ss_categories .ubox .conteneur_box{ background-position:0 -373px;}

#slide_ss_categories .ubox img{ border-color:#e0e0e0;}

#slide_ss_categories h2{ text-transform:none; border:0; margin-bottom:5px; border-bottom:1px dashed #c8c8c8; margin:27px 0 10px; padding-bottom:5px; font:1.56em 'NeoSansRegular', Arial, Helvetica, sans-serif;}

#slide_ss_categories #recherche_evenement{ text-transform:none; color:#4a4a4a; background-position:474px -712px; float:left;}

#slide_ss_categories #recherche_evenement:hover{ text-decoration:none; }



/* Css des pages de liste principales de contenus hierarchique */
/*.primary-hitem-list { margin-top:10px; }
.primary-hitem-list .views-row { margin-bottom: 10px; border:1px solid #E3E3E3; padding: 0;}
.primary-hitem-list .node-teaser:hover { background-color: #EDEDED; }
.primary-hitem-list .node-teaser { padding: 13px;   }
.primary-hitem-list .teaser-body { margin-bottom: 10px;font: bold 1em/16px Arial,Helvetica,sans-serif;}
.primary-hitem-list a, .primary-hitem-list a:visited { color:#4A4A4A; text-decoration: none;}
.primary-hitem-list a:hover { text-decoration: underline; color: #DD309E; }
.primary-hitem-list h2, #conteneur_left .primary-hitem-list h2 { padding-left:0; font-size: 1.4em;border: 0;}
.primary-hitem-list .node-children .col { float:left; width: 45%;}
.primary-hitem-list .node-children .views-row {border: none;}

.primary-hitem-list .primlist-content-left { float:left; margin-right: 10px;}
.primary-hitem-list .primlist-content-right { float:left; width: 368px; }
.primary-hitem-list .primlist-content-right { font-size:0.73em; }
.primary-hitem-list .node-teaser img {border:4px solid #E0E0E0; }*/



.primary-hitem-list  .last{ margin-bottom:20px;}

.primary-hitem-list .views-row { border:1px solid #E3E3E3; margin-bottom:10px; min-height:201px; }

.page-node .primary-hitem-list .views-row { border:none ;}

.primary-hitem-list .views-row .views-row { border:none; margin-bottom: inherit; min-height: 0; }

.primary-hitem-list .views-row:hover{ background-color:#ededed; cursor:default;}

.primary-hitem-list .views-row.ubox:hover{ background-color:#FFF;}

.primary-hitem-list .views-row:hover > img{ border-color:#FFF;}

.primary-hitem-list .views-row:hover > a img{ border-color:#FFF;}

.primary-hitem-list .views-row h2{ font:1.25em 'NeoSansRegular', Arial, Helvetica, sans-serif; text-transform:uppercase; border:0; margin-bottom:5px; padding:0;}

.primary-hitem-list .views-row img{ margin:16px 0 16px 11px; border:4px solid #e0e0e0; max-width: 276px;}

.primary-hitem-list .views-row img, .primary-hitem-list .views-row .primlist-content-right{ float:left;}

.primary-hitem-list .views-row .primlist-content-right{ width:360px; padding:27px 20px 18px; }

.primary-hitem-list .views-row .primlist-content-right ul{ margin:20px 0 0; width:169px; float:left; }

.primary-hitem-list .views-row .primlist-content-right .ul_2col{ padding-left:20px;}

.primary-hitem-list .views-row .primlist-content-right ul li{ background:url(../images/sprite.png?1306022245) no-repeat 0 -260px; padding-left:14px;}

.primary-hitem-list .views-row .primlist-content-right ul li a{ font:0.9em Arial, Helvetica, sans-serif; color:#4a4a4a; text-decoration:none; display:block; margin-bottom:3px;}

.primary-hitem-list .views-row .primlist-content-right ul li a:hover{ text-decoration:underline;}

.primary-hitem-list .views-row .primlist-content-right ul li:hover{ background-position:0 -2052px;}

.primary-hitem-list .views-row .primlist-content-right { font:0.75em/16px Arial, Helvetica, sans-serif; color:#4a4a4a; }

.primary-hitem-list .views-row .primlist-content-right .teaser-body { margin-bottom:10px; }

/* Spécial espace pro */

.domain-2 #conteneur_left .node-type-hqitem.has-children { border:none; }



/*  Que fait la météo ici ? */

.primary-hitem-list #meteo{ float:left; width:191px; }

.primary-hitem-list #meteo img{ border:0; margin:0 0 0 15px;}

.primary-hitem-list #content_meteo{ float:left; font-weight:normal; font-family:'NeoSansRegular',Arial,Helvetica,sans-serif; margin:24px 0 0 10px;}

.primary-hitem-list #content_meteo span{ display:block;}

.primary-hitem-list #temperature{ font-size:3.2em; }

.primary-hitem-listt #min_max{ font-size:1.3em; margin-top:8px;}

.primary-hitem-list img{ margin: 16px 0 16px 7px;}

.primary-hitem-list .ubox .ubox_item{ margin:0;}

.primary-hitem-list .ubox .ubox_items { padding: 9px 0 5px; font-family:Arial, Helvetica, sans-serif; bottom:16px; width:227px;}

.primary-hitem-list .ubox .ubox_items .ubox_item_content{ bottom: 21px; left: 10px;}



/* SPECIAL AFFICHAGE DES LISTES DE FLUX */

#conteneur_left .box_categories.hqitem-with-flux-list { min-height: 0; border: none; }


