#conteneur #conteneur_left .col_1{ width:auto; margin-top:10px;}

#conteneur #conteneur_left .col_2{ width:360px; margin-top:10px; padding:10px 10px 0 10px;}

#conteneur #conteneur_left .dernier_niveau h1{ padding-left:0; letter-spacing:-1px;}

#conteneur #conteneur_left .dernier_niveau h1 a{ display:block; float:right; background:url(../images/sprite.png?1304110000) no-repeat 0 -1848px; width:30px; height:32px; text-indent:-9999px; overflow:hidden;}

#lys{ background:url(../images/sprite.png?1304110000) no-repeat 0 -1908px; width:52px; height:44px; position:absolute; top:-7px; right:-7px;}

#conteneur_left .dernier_niveau .img_ss_categories{ max-width:668px; margin:10px 0 0;}

.dernier_niveau .conteneur_img_ss_categories .content_img_ss_categories{ bottom:20px; top:auto;}

.dernier_niveau .conteneur_img_ss_categories .content_img_ss_categories h3{ width:141px;}