

.page_type .browse{ color:#c8c8c8;}

#slide_ss_categories .conteneur_box h3, #slide_ss_categories .ubox .text, #slide_ss_categories .conteneur_box a{ color:#303030;}

#slide_ss_categories .ubox .conteneur_box{ background-position:0 -373px;}

#slide_ss_categories .ubox img{ border-color:#e0e0e0;}

#slide_ss_categories h2{ text-transform:none; border:0; margin-bottom:5px; border-bottom:1px dashed #c8c8c8; margin:27px 0 10px; padding-bottom:5px; font:1.56em 'NeoSansRegular', Arial, Helvetica, sans-serif;}

#slide_ss_categories #recherche_evenement{ text-transform:none; color:#4a4a4a; background-position:474px -712px; float:left;}

#slide_ss_categories #recherche_evenement:hover{ text-decoration:none; }