.bons_plans .all .uboxpb_items .uboxbp_content h4{ margin-top:15px;}

#table_tarif{ width:100%;}

.grey{ background-color:#eeeeee;}

#table_tarif td{ border:1px solid #e3e3e3; padding:5px;}

#table_tarif td.no_border{ border:0;}

.uboxpb_items_content p{ margin:5px 0; font-size:1.09em;}

.resa_hotel_2 .bons_plans .uboxbp_content .comments{ float: left;
    font-size: 0.7em;
    margin: 0 5px 0 0;
    padding: 5px;}

.resa_hotel_2 .bons_plans .all .uboxbp_content { border:0;}

.resa_hotel_2 .bons_plans .chapo{ font-size:0.75em; font-weight:bold; margin-bottom:10px;}

#like{ position: absolute; right: 126px; top: 24px;}

#lien_int{ position: absolute; right: 0; top: 44px;}

#lien_int a:first-child:after { content:" |";}

#lien_int a:first-child{ padding-left:14px; padding-right:0; background-position:-4px -4047px; margin-left:0;}

#lien_int a{ text-decoration:none; background:url(../images/sprite.png?1306022245) no-repeat 77px -711px; padding-right: 14px; font-size:0.75em; display:block; float:left; height:22px; line-height:18px; margin-left:5px; font-weight:bold;}

.resa_hotel_2 .short{ padding-right: 20px; width: 329px;}

.resa_hotel_2 .content_box_agenda h3 a{ font-size:1em; color:#4A4A4A;}

.short .content_box_agenda a.rsv_btn{ font-size:0.68em; margin-top:9px;}