.content_EN{ padding-bottom:20px;}

.content_EN img { border: 4px solid #FFFFFF; float:left;}

.content_EN .content{ float:left; width:450px; margin-left:30px; }

.content_EN .content .chapo{font:1.25em 'NeoSansRegular',Arial,Helvetica,sans-serif; color:#dd309e; margin-bottom:20px;}

.content_EN .content p{ font-size:0.88em; color:#FFF; margin-bottom:15px; line-height:18px;}

.content_EN .content p strong{ color:#dd309e;}

.content_EN .content p a{ color:white;}

.content_EN .content p a:hover{ text-decoration:none;}

